# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in ESMA_cmake should be owned by the CMake Team
* @GEOS-ESM/cmake-team
